.kcenter-header {
  /* 确定大小 */
  height: 220px;
  position: relative;
  padding: var(--sp-16);
  background-image: var(--image);
  background-size: contain;
  border-radius: var(--sp-16);
  border: var(--border);
  display: flex;
  flex-direction: column;
}

/* header */
.header-nav {
  display: flex;
  gap: 1px;
}
.header-nav-item {
  max-width: 120px;
  padding: var(--padding);
  border-radius: var(--sp-8);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header-nav-turn {
  border-radius: var(--sp-8);
  position: relative;
  transition: all 0.5s ease;
}
.header-nav-item:hover,
.header-nav-turn:hover {
  background-color: var(--color2);
}

.turn-icon {
  width: calc(var(--sp-24) + 2px);
  height: calc(var(--sp-24) + 2px);
  display: flex;
}
.turn-icon img {
  width: var(--sp-16);
  height: var(--sp-16);
  margin: auto;
}
.turn-result {
  width: 100px;
  max-height: 106px;
  padding: calc(var(--sp-8) / 2) 0;
  position: absolute;
  top: calc(var(--sp-24) + 4px);
  border-radius: var(--sp-8);
  background-color: var(--color2);
  overflow: auto;
  display: none;
}
.turn-result .turn-item,
.turn-result .turn-item1 {
  position: relative;
  height: var(--sp-24);
  padding: 0 var(--sp-8);
  font-size: 0.85em;
  line-height: var(--sp-24);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.5s ease;
}
.turn-result .turn-item:hover,
.turn-result .turn-item1:hover {
  background-color: var(--color3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.header-data {
  margin-top: auto;
}
.header-data div {
  padding: var(--padding);
  border-radius: var(--sp-8);
  display: inline-block;
}
.header-data div:hover {
  background-color: var(--color2);
}

.kcenter-main {
  width: 100%;
  margin-top: var(--sp-24);
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);
}
.kcenter-main h1 {
  text-align: center;
}
.kcenter-main .kcode p {
  margin: 0 0 var(--sp-8) 0;
  font-weight: bold;
}
.kcenter-main .kcode .openBtns {
  margin-bottom: var(--sp-8);
  display: flex;
  gap: var(--sp-8);
}
.kcenter-main .kcode .openBtns div {
  padding: var(--padding);
  border-radius: var(--sp-8);
  background-color: var(--color2);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  transition: all 0.5s ease;
  cursor: pointer;
}
.kcenter-main .kcode .openBtns div:hover {
  background-color: var(--color3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.kcenter-main .kcode .codeBoxs {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);
}
.kcenter-main .kcode .codeBoxs > div {
  outline: none;
  border-radius: var(--sp-8);
  background-color: var(--color2);
  white-space: pre-wrap;
  word-break: break-all;
  font-family: mono;
  overflow: hidden;
}
.kcenter-main .kcode .codeBoxs .previewBox {
  border: none;
  outline: none;
}
.kcenter-main .kcode .codeBoxs pre,
.kcenter-main .kcode .codeBoxs code {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  font: inherit !important;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: hidden;
}
